parer-kettle-server/src/main/resources/wsdl/NotificaOggettoTrasformato.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.xformer.eng.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NotificaOggettoTrasformato" targetNamespace="http://ws.xformer.eng.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.xformer.eng.it/" elementFormDefault="unqualified" targetNamespace="http://ws.xformer.eng.it/" version="1.0">

  <xs:element name="notificaOggettoTrasformato" type="tns:notificaOggettoTrasformato"/>

  <xs:element name="notificaOggettoTrasformatoResponse" type="tns:notificaOggettoTrasformatoResponse"/>

  <xs:complexType name="notificaOggettoTrasformato">
    <xs:sequence>
      <xs:element name="idOggetto" type="xs:long"/>
      <xs:element name="numeroErrori" type="xs:int"/>
      <xs:element minOccurs="0" name="report" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificaOggettoTrasformatoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:notificaOggettoTrasformatoRisposta"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificaOggettoTrasformatoRisposta">
    <xs:sequence>
      <xs:element minOccurs="0" name="dettagli" type="xs:string"/>
      <xs:element minOccurs="0" name="esito" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="notificaOggettoTrasformatoResponse">
    <wsdl:part element="tns:notificaOggettoTrasformatoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notificaOggettoTrasformato">
    <wsdl:part element="tns:notificaOggettoTrasformato" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NotificaOggettoTrasformato">
    <wsdl:operation name="notificaOggettoTrasformato">
      <wsdl:input message="tns:notificaOggettoTrasformato" name="notificaOggettoTrasformato">
    </wsdl:input>
      <wsdl:output message="tns:notificaOggettoTrasformatoResponse" name="notificaOggettoTrasformatoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificaOggettoTrasformatoSoapBinding" type="tns:NotificaOggettoTrasformato">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notificaOggettoTrasformato">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="notificaOggettoTrasformato">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="notificaOggettoTrasformatoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificaOggettoTrasformato">
    <wsdl:port binding="tns:NotificaOggettoTrasformatoSoapBinding" name="NotificaOggettoTrasformatoPort">
      <soap:address location="https://parer-svil.ente.regione.emr.it/sacerping/NotificaOggettoTrasformato"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>